body{
    background-color: #1B4D3E;
}
*{
    color: #E3E5E3;
}

/* manera correcta de hacer un menu responsive <3 */
.navbar {
    background-color: #1B4D3E; /* Color de fondo de la barra de navegación */
    padding: 2px; /* Espacio de relleno interno de la barra de navegación */
}
nav{
    position: fixed;
}
.navbar-brand {
    font-size: 16px; /* Tamaño de fuente del logotipo */
    font-weight: bolder; /* Peso de la fuente del logotipo */
    padding: 12px;
}

.navbar-brand .logo {
    color: #E3E5E3; /* Color del texto del logotipo */
    text-align: left;
    margin-right: 48px;
    font-weight: 100px;
}
.navbar-brand .logo span {
    color: #A0A083; /* Color del texto destacado del logotipo */
}

.navbar-nav .nav-item {
    margin: 2px; /* Espacio entre elementos del menú */
}

.navbar-nav .nav-link {
    color: #E3E5E3; /* Color del texto del enlace */
    font-weight: bold; /* Peso de la fuente del enlace */
}

.navbar-nav .nav-link:hover {
    color: #A0A083; /* Color del texto del enlace al pasar el cursor */
}

.navbar-toggler-icon {
    border-color: #333333; /* Color del icono del botón desplegable */
}

.nav-item{
    margin-left: 100px;
}
/* hasta aqui :* */

p{
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 24px;
    margin-left: 10px;
    margin-inline: 40px;
    /* transform: translateX(-40px) rotate(-24deg); */
}

.Josker{
    margin-left: 70px;
    height: 340px;
    border: 2px solid #000;
    border-radius: 50%;
}


.cuadrado{
    width: 100px;
    height: 80px;
    background: none;
    margin-bottom: 10px;
}
a:hover{
    color: #000;
}
.btn-1{
    padding: 16px;
    padding-block: 20px;
    color: #E3E5E3;
    background-color: #54796D;
    text-decoration: none;
    text-shadow: none;
    display: flex;
    border-radius: 40%;
    border: 1px solid #E3E5E3;
    margin-left: 1px;
    animation-duration: 4s;
    animation-name: slidein;
}
.btn-2{
    padding: 14px;
    padding-block: 20px;
    color: #E3E5E3;
    background-color: #638479;
    text-decoration: none;
    display: flex;
    border-radius: 40%;
    border: 1px solid #E3E5E3;
    margin-left: 1px;
    animation-duration: 4s;
    animation-name: slidein;
}
.btn-3{
    padding: 6px;
    padding-block: 20px;
    color: #E3E5E3;
    background-color: #718F85;
    text-decoration: none;
    display: flex;
    border-radius: 40%;
    border: 1px solid #E3E5E3;
    margin-left: 1px;
    animation-duration: 4s;
    animation-name: slidein;
}
.btn-4{
    padding: 18px;
    padding-block: 20px;
    color: #E3E5E3;
    background-color: #7F9A91;
    text-decoration: none;
    text-shadow: none;
    display: flex;
    border-radius: 40%;
    border: 1px solid #E3E5E3;
    margin-left: 1px;
    animation-duration: 4s;
    animation-name: slidein;
}
.btn-5{
    padding: 16px;
    padding-block: 20px;
    color: #E3E5E3;
    background-color: #8DA49C;
    text-decoration: none;
    text-shadow: none;
    display: flex;
    border-radius: 40%;
    border: 1px solid #E3E5E3;
    margin-left: 1px;
    animation-duration: 4s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 1200%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.cuadro{
    width: 80px;
    height: 80px;
    background: none;
    text-shadow: none;
    text-decoration: none;
}
.btn-6{
    padding: 6px;
    padding-block: 2px;
    color: #E3E5E3;
    text-decoration: none;
    height: 80px;
    width: 80px;
    display: flex;
    border-radius: 100%;
    margin-left: 1px;
    animation-duration: 2s;
    animation-name: slidein;
}
.btn-7{
    padding: 6px;
    padding-block: 24px;
    color: #E3E5E3;
    text-decoration: none;
    height: 80px;
    width: 80px;
    display: flex;
    border-radius: 100%;
    margin-left: 1px;
    animation-duration: 2s;
    animation-name: slidein;
}
.btn-8{
    padding: 4px;
    padding-block: 24px;
    color: #E3E5E3;
    text-decoration: none;
    height: 80px;
    width: 80px;
    display: flex;
    border-radius: 100%;
    margin-left: 1px;
    animation-duration: 2s;
    animation-name: slidein;
}
.btn-9{
    padding: 8px;
    padding-block: 24px;
    color: #E3E5E3;
    text-decoration: none;
    text-shadow: none;
    height: 80px;
    width: 80px;
    display: flex;
    border-radius: 100%;
    margin-left: 1px;
    animation-duration: 2s;
    animation-name: slidein;
}
.titulo{
    color: #B0413E;
}
.texto{
    margin-left: 40px;
}
.pe{
    background-image: url(img/desk-3139127_1280.jpg);
    display: grid;
    box-sizing: border-box;
    justify-items: center;
    align-content: center;
    background-size: cover;
    height: 260px;
}
em{
    font-size: 24px;
}
#columnas{
    column-count:2;
    column-gap:20px;
    column-rule:2px;
}

h2{
    margin-left: 20px;
}
li{
    border-width: 10px;
    color: #8DA49C;
    margin-left: 40px;
}


.color{
    font-size: 20px;
}

hr{
    color: #E3E5E3;
}

.autor{
    height: 260px;
    width: 260px;
}
h6{
    text-align: center;
}

.p{
    margin-left: 100px;
    height: 20px;
    text-align: start;
    color: #E3E5E3;
}
dt{
    text-align: center;
}
main{
    text-align: center;
    height: 220px;
}
aside{
    text-align: center;
}
img{
    border-radius: 10px;
}
.navega{
    text-decoration: none;
    text-shadow: none;
    color: #000;
}

h5{
    text-align: center;
    color: #EF7A85;
}

footer{
    padding: 20px;
    text-align: center;
    height: 150px;
}
footer p{
    margin-bottom: 20px;
    color: #E3E5E3;
}
footer .redes a{
    color: #E3E5E3; 
    text-decoration: none;
}
footer .redes i{
    color: #E3E5E3;
    font-style: 50px;
}
.correo{
    margin: 20px;
}
.correo:hover{
    color: #000;
}
.linkedin{
    margin: 20px;
}
.github{
    margin: 20px;
}
.copyright{
    margin: 20px;
}

.fa-brands:hover{
    color: #000;
}

@media only screen and (min-width: 0px) {
    .Josker{
        margin-left: 160px;
        margin-block: 80px;
        height: 320px;
        border: #E3E5E3 solid 2px;
    }
}

@media only screen and (min-width: 576px) {
    /* p{
        transform: translateX(40px) rotate(-24deg);
    } */
    
    main{
        text-align: center;
        height: 200px;
    }

    .Josker{
        margin-left: 260px;
        height: 360px;
        border: #E3E5E3 solid 2px;
    }
}

@media only screen and (min-width: 793px) {
    /* p{
        transform: translateX(140px) rotate(-24deg);
    } */

    main{
        text-align: center;
        height: 180px;
    }

    .Josker{
        margin-left: 360px;
        height: 360px;
        border: #E3E5E3 solid 2px;
    }

    .titulo{
        margin-left: 20px;
    }
    .texto{
        margin-left: 60px;
    }
}

@media only screen and (min-width: 993px) {
    /* p{
        transform: translateX(240px) rotate(-24deg);
    } */
    
    main{
        text-align: center;
        height: 160px;
    }

    .Josker{
        margin-left: 460px;
        height: 360px;
        border: #E3E5E3 solid 2px;
    }

    .titulo{
        margin-left: 40px;
    }
    .texto{
        margin-left: 80px;
    }
}


@media only screen and (min-width: 1160px) {
    /* p{
        transform: translateX(340px) rotate(-24deg);
        } */

    .autor{
            margin-left: 100px;
        }
    
    .Josker{
        margin-left: 600px;
        height: 360px;
        border: #E3E5E3 solid 2px;
    }

    .titulo{
        margin-left: 60px;
    }
    .texto{
        margin-left: 100px;
    }
}